@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

$raleway: 'Raleway', sans-serif;
$black: #000;
$blue1: #3f51b5;
// border bottom grey 
$bb-grey-lite: 2px solid #ddd;

.centered {
    margin: 0 auto;
}
.flex {
    display: flex;
}
.jcenter {
    justify-content: center;
}

.full-center {
    margin: auto;
    justify-content: center;
    align-content: center;
}

//header h1 value for auxpack
#auxpack-banner {
    margin-left: 2%;
    margin-bottom: 3vh;
    margin-top: 1%;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
//message while sunburst is loading
#loading {
    position: fixed;
    top: 40%;
    left: 40%;
}
//top of expansion panel headings
#panel1a-header {
    background-color: rgba($blue1, .95);
}
//title page
h1 {
    font-family: $raleway;
    color: $blue1;
    font-size: 4vw;
}

body {
    background-color: whitesmoke;
}

#trail {
    font-family: $raleway;
    z-index: 1;
    font-size: 15px;
}

#nav {
    position: fixed;
    bottom: 0px;
    width: 100%;
    justify-content: center;
    z-index: 1;
    background-color: white;
    display: flex;
    overflow: hidden;
    box-shadow: 0px -3px 10px rgba(0, 0, 0, .3);
    #bottom-nav {
        background-color:white;
    }
}

#sequence {
    position: relative;
    bottom: 0px;
}

div.chart {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 55vh;
}


div.explanation {
    position: absolute;
    z-index: 1;
    font-size: 1.4vh;
    font-family: $raleway;
    color: $blue1;
    padding-top: 15vh;
    padding-left: 0vw;
}


g#details {
    font-family: $raleway;
    font-size: 14px;
}

.content-card { // this is the whole white area including tabs section and tab panel
    margin: 0 auto;
    display: flex;
    width: 80vw;
    height: 75vh;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
}

div.scroll-list{
    margin: 0 auto;
    margin-top: 24px;
    padding: 10px;
    border: 2px solid $blue1;
    margin-bottom: 24px;
}

.changes-li {
    display: flex;
    justify-content: space-between;
}

.card-li {
    margin-bottom: 1px solid rgb(109, 109, 109);
}
.card {
    background: whitesmoke;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    width: 40%;
    min-width: 40%;
    max-width: 40%;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-title{
    color: $blue1;
    max-width: 100%;
    word-wrap: break-word;
}

.tab-panel {
    overflow-y: auto;
    width: 100%;
}

.tabs-section {
    min-width: 150px;
    margin-bottom: 20px;
}
.modules-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: auto;
}
.expansion-heading {
    font-family: $raleway;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .centered {
      color: whitesmoke;
      margin: 0;
    }
}

.MuiTab-textColorInherit.Mui-selected {
    color: $blue1;
}

.panelDetails {
    height: 60%;
    overflow-Y: auto;
}

table.highlight > tbody > tr:hover {
    color: rgba(63,81,181,1);
    background-color: rgba(255,255,255,1);
}

.center-heading {
    margin: 0 auto;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

#chart-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.single-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chart-label {
    color: $blue1;
    font-family: $raleway;
    font-weight: bold;
    letter-spacing: 3px;
}

.build-chart-svg {
    // background-color: whitesmoke;
    font-family: $raleway;
    font-weight: bold;
}

.tree-module {
  width: 100%;
}