@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

$raleway: 'Raleway', sans-serif;
$black: #000;
$blue1: #3f51b5;
// border bottom grey 
$bb-grey-lite: 2px solid #ddd;
/* common classes */ 
.flex {
    display: flex;
}
.fd-row {
    flex-direction: row;
}
.fd-col {
    flex-direction: column;
}
.j-center {
    justify-content: center;
}

h1 {
    font-family: $raleway;
    color: $blue1
}

body {
    background-color: whitesmoke;
}

#trail {
    font-family: $raleway;
    z-index: 1;
    font-size: 15px;
}

#nav {
    position: fixed;
    bottom: 0px;
    width: 100%;
    justify-content: center;
    z-index: 1;
    background-color: white;
    display: flex;
    overflow: hidden;
    #bottom-nav {
        background-color:white;
    }
}

#sequence {
    position: absolute;
    bottom: 5%;
}

div.chart {
    display: flex;
    position: relative;
    top: -5vh;
    justify-content: center;
    align-items: center;
    height: 80%;
}


div.explanation {
    position: absolute;
    z-index: 1;
    font-size: 12px;
    font-family: $raleway;
    color: $blue1;
}


g#details {
    font-family: $raleway;
    font-size: 14px;
}

div.build-data {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.scroll-list{
    margin: 0 auto;
    margin-top: 24px;
    padding: 10px;
    border: 2px solid $blue1;
    margin-bottom: 24px;
}
/* Styles the text contents of each list row */ 
div.row{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    font-family: $raleway;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

.row {
    width: 98% !important;
}


.changes{
    border-bottom: $bb-grey-lite;
    justify-content: space-between;
    .scroll-list {
        width: 40% !important;
    }
}