@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

$raleway: 'Raleway', sans-serif;
$black: #000;
$blue1: rgb(44, 99, 157);
/* common classes */ 
.flex {
    display: flex;
}
.fd-row {
    flex-direction: row;
}
.fd-col {
    flex-direction: column;
}
.j-center {
    justify-content: center;
}

#trail {
    font-family: $raleway;
    g {
        text {
            color: white;
        }       
    }
}

#nav {
    position: absolute;
    z-index: 1;
    top: 1vh;
    right: 1vw;
    background-color: whitesmoke;
}

div.chart {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 75vh;
}


div.explanation {
    position: absolute;
    z-index: 1;
    font-size: 18px;
    font-family: $raleway;
    color: $blue1;
}


g#details {
    font-family: $raleway;
    font-size: 14px;
}